{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block 'title' %}PASSWORD RESET DONE{% endblock %}

{% block 'content' %}
<section id="contact-us">
	<div class="container">
		<div class="row">
			
			<!-- section title -->
			<div class="title text-center wow fadeIn" data-wow-duration="500ms">
				<h2>PASSWORD RESET <span class="color">DONE</span></h2>
				<div class="border"></div>
			</div>
			<!-- /section title -->
					
			<!-- Contact Form -->
			<div class="contact-form col-md-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
				<h4 class="text-center">
					We've emailed you instructions for setting your password, if an account exists with the email you entered.
					You should receive them shortly.
				
					If you don't receive an email, please make sure you've entered the address you registered with,
					and check your spam folder.
				</h4>			
            </div>
			<!-- ./End Contact Form -->
		
		</div> <!-- end row -->
	</div> <!-- end container -->
	
</section> <!-- end section -->
{% endblock %}