{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block 'title' %}LOGIN{% endblock %}


{% block 'navbar' %}
	<nav class="collapse navbar-collapse navbar-right" role="Navigation">
		<ul id="nav" class="nav navbar-nav">
			<li class="current"><a href="/">Home</a></li>
			{% if request.user.is_authenticated %}
				<li><a href="/logout/">Logout</a></li>
			{% else %}
				<li><a href="/signup/">Register</a></li>
			{% endif %}
		</ul>
	</nav>
{% endblock %}


{% block 'content' %}
		
	<section id="contact-us">
		<div class="container">
			<div class="row">
				<!-- section title -->
				<div class="title text-center wow fadeIn" data-wow-duration="500ms">
					<h2>LOG <span class="color">IN</span></h2>
					<div class="border"></div>
				</div>
				<!-- /section title -->
						
				<!-- Contact Form -->
				<div class="contact-form col-md-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
					<form id="contact-form" method="post" action="">
						{% csrf_token %}
						{{ form|crispy }}
						<input type="submit" value="Submit" class="btn btn-success">
					</form>
				</div>
				<!-- ./End Contact Form -->
			
			</div> <!-- end row -->
		</div> <!-- end container -->
		
	</section> <!-- end section -->
{% endblock %}
