{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block 'title' %}Thanks{% endblock %}

{% block 'content' %}
<section id="contact-us">
	<div class="container">
		<div class="row">
			
			<!-- section title -->
			<div class="title text-center wow fadeIn" data-wow-duration="500ms">
				<h2>Thank <span class="color">You</span></h2>
				<div class="border"></div>
			</div>
			<!-- /section title -->
					
			<!-- Contact Form -->
			<div class="contact-form col-sm-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
				<h4 class="text-center">Thanks for reaching out to us. We will get back to you soon!</h4>
			</div>
			<!-- ./End Contact Form -->
		
		</div> <!-- end row -->
	</div> <!-- end container -->
	
</section> <!-- end section -->
{% endblock %}